body {
    background-color:  #323232;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
    margin: 0;
    font-size: 1.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

main section {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
}

main section:nth-child(2n+1) {
    text-align: left;
}

main section:nth-child(2n) {
    text-align: right;
}

section#q1-big {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

section#q1-big div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1a1a1a;
    transform: skewY(-10deg);
    text-align: center;
}

section#q1-big div.container > * {
    transform: skewY(10deg);
}

section#q1-big img {
    width: 20vh;
}

section#q1-big p {
    font-size: 0.75em;
    color: #b1b1b1;
}

div.team-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-top: 80px;
    text-align: center;
}

@media (min-width: 600px) {
    div.team-box { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1000px) {
    div.team-box { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1600px) {
    div.team-box { grid-template-columns: repeat(5, 1fr); }
}

div.team-box div.team-member {
    width: 100%;
}

div.team-box .team-member img {
    width: 150px;
}

.team-box div.team-name {
    font-weight: bold;
    font-size: 1.25em;
}

.team-box div.team-skills {
    margin-top: 10px;
}

.team-box .team-skills span {
    font-size: 0.75em;
    padding: 5px 10px;
    border-radius: 20px;
}

.team-skills span.skill-coding {
    background-color: #50b15c;
}
.team-skills span.skill-art {
    background-color: #ffcc65;
}
.team-skills span.skill-music-sfx {
    background-color: #5890ff;
}

.team-box div.team-desc {
    font-size: 0.75em;
    color: #b1b1b1;
    margin-top: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 0.75em;
    background-color: #1a1a1a;
}

footer div.socials a {
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
}

a:hover:after {
    padding-left: 10px;
}

a.socials-itch {
    background-color: #fa5c5c;
}

a.socials-itch:hover {
    background-color: #b64343;
}

a.socials-itch:hover:after {
    content: "Itch.io";
}

.socials a svg {
    fill: #ffffff;
    width: 20px;
}

div.slideshow-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.slideshow {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: #000000;
}

.slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}

.slide {
    display: none;
}

.slide .slide-annotation {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    background-color: #1a1a1a56;
}

.slide-annotation .slide-title {
    font-size: 1.5em;
    font-weight: bold;
}

.slide-annotation .slide-desc {
}

.slide-annotation a.itch-btn {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-color: #fa5c5c;
    color: #ffffff;
    text-decoration: none;
}

.slide-annotation a.itch-btn:hover {
    background-color: #b64343;
}

.slide-annotation a.itch-btn svg {
    fill: #ffffff;
    margin-right: 10px;
    width: 20px;
}

.slides-prev, .slides-next {
    position: absolute;
    width: auto;
    top: 50%;
    margin-top: -22px;
    z-index: 2;

    padding: 16px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;

    transition: 0.6s ease;
    cursor: pointer;
    user-select: none;

}

.slides-prev {
    left: 0;
}

.slides-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slides-prev:hover, .slides-next:hover {
    background-color: rgba(0,0,0,0.8);
}